%h1 Voting Application
%p
  Hello, this is going to be home page

%p
  Looking for someone?
  = text_field_tag ""
  = submit_tag 'Search'

%h3 Most Popular
%h3 Recently Signed up 
%h3 Search Votes or Users

